force-app/main/default/flows/creating_multiple_account_records_associated_to_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>creating_new_contact</name>
        <label>creating new contact</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>New_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>john</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>son</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_creating_contact_records_associated_to_account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>list_of_contact_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>list_of_contact_records</name>
        <label>list of contact records</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>List_new_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_creating_contact_records_associated_to_account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>creating multiple account records associated to contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>creating multiple account records associated to contacts</label>
    <loops>
        <name>loop_for_creating_contact_records_associated_to_account</name>
        <label>loop for creating contact records associated to account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_account_records_are_cold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>creating_new_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_records_for_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_records_for_account</name>
        <label>create records for account</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>List_new_contact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_account_records_are_cold</name>
        <label>get account records are cold</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_creating_contact_records_associated_to_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_account_records_are_cold</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>List_new_contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>New_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>New_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
