force-app/main/default/flows/custom_label_with_helping_texts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NON_OES</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OES_Configuration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OES_Screen</targetReference>
            </connector>
            <label>OES</label>
        </rules>
        <rules>
            <name>SES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SES_Configuration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_scs</targetReference>
            </connector>
            <label>SES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>custom label with helping texts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>custom label with helping texts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>account_records</name>
        <label>account records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <stringValue>Education</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetching the custom metadata to display different screens</description>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OES</elementReference>
            </value>
        </filters>
        <object>Flow_metdata__mdt</object>
        <outputAssignments>
            <assignToReference>OES_Configuration</assignToReference>
            <field>Is_OES__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>NON_OES</name>
        <label>NON OES</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;This Screen is not available for when OES Enabled&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OES_Screen</name>
        <label>OES Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>account_records</targetReference>
        </connector>
        <fields>
            <name>OES_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OES_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <dataType>String</dataType>
                    <fieldText>AccountName</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;{!$Label.firstname}&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OES_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OES_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Account_Record.Rating</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Account_Record.Industry</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This Screen is available whwn we call anthoer one</description>
        <name>screen_scs</name>
        <label>screen scs</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SES_Screens</name>
            <fieldText>&lt;p&gt;This Screen is available whwn we call anthoer one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OES_Configuration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SES_Configuration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
