force-app/main/default/flows/paypal_project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Pay_your_Bills</name>
        <choiceText>Pay your bills.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay Your Bills</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_to_Funds</name>
        <choiceText>Send Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send To funds</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>bill_vs_funds</name>
        <label>bill vs funds</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Funds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>send your funds</defaultConnectorLabel>
        <rules>
            <name>if_Pay_your_Bills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paypal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pay_your_Bills</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>paypal_screen</targetReference>
            </connector>
            <label>if Pay your Bills</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>paypal project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>paypal project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Funds</name>
        <label>Funds</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Send_the_Funds</name>
            <fieldText>&lt;p&gt;Welcome&lt;/p&gt;&lt;p&gt;Send your funds.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>paypal_screen</name>
        <label>paypal screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Welcome_pay_your_bill</name>
            <fieldText>&lt;p&gt;Welcome pay your bill&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>bill_vs_funds</targetReference>
        </connector>
        <fields>
            <name>paypal</name>
            <choiceReferences>Pay_your_Bills</choiceReferences>
            <choiceReferences>Send_to_Funds</choiceReferences>
            <dataType>String</dataType>
            <fieldText>paypal</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
