force-app/main/default/flows/update_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>adding_the_list_to_single_variable</name>
        <label>adding the list to single variable</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>list_of_contacts.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mapping_fileds_in_contact</name>
        <label>mapping fileds in contact</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>new_contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_the_list_to_single_variable</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>update contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update contacts</label>
    <loops>
        <name>Loop_through_contact</name>
        <label>Loop through contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mapping_fileds_in_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_contact_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>test_20250</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact_records</name>
        <label>update contact records</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>list_of_contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Contacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>list_of_contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>new_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
